# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# various IDEs
.DS_Store                # Cruft from MacOS Finder
Thumbs.db                # Cruft from Windows Explorer

.project                 # I think this is Eclipse but not certain
.settings                # Ditto
salesforce.schema        # Eclipse
Referenced Packages      # Eclipse

build.properties         # Force.com Migration Tool

/IlluminatedCloud        # Illuminated Cloud
.idea/                   # IntelliJ IDEA (Illuminated Cloud)
.idea

venv/                    # Python
*.pyc                    # Python

.*.swp                   # Vim
.*.swo
*~

*.sublime-project        # Sublime Text (used with MavensMate)
*.sublime-workspace      # Sublime Text (used with MavensMate)

.sfdx/                   # SFDX

.vscode/                 # Visual Studio Code

.cci/                    # CumulusCI

node_modules/            # Node.js (LWC, Prettier)
coverage/                # LWC coverage information
.localdevserver/         # SFDX/LWC dev

# VIM
*~
*.swp
*.swo
